body {
    margin: 0;
    padding: 0;
}

.About___us {
    width: 100%;
    height: 100%;

}

.ASS {
    width: 100%;
    height: 600px;
    display: flex;
}

.eq {
    height: 100%;
    width: 400px;
}

.IMG_US {
    height: 100%;
}

.IMG_TEXT {
    text-align: center;
    width: 100%;
    font-size: 20px;
    width: 100%;
    font-family: 'Exo 2';
    background-image: url(image/00s.jpg);
    height: 100%;
}

.tyman {
    background: rgba(255, 255, 255, 0.55);
    width: 100%;
    height: 100%;
    padding-top: 1px;
}

.text {
    width: auto;
    text-align: initial;
    margin: 0 auto;
    height: 100%;
    padding: 0px 9px 1px 20px;
}

.text_left {
    width: auto;
    text-align: initial;
    margin: 0 auto;
    height: 100%;
    padding: 0px 9px 1px 20px;
}

.Surname {
    margin: 0;
    display: flex;
    margin-right: 250px;
    justify-content: center;
}

.Name {
    display: flex;
    justify-content: center;
}

.patronymic {
    display: flex;
    justify-content: center;
    margin-left: 330px;
}

.patronymic_2 {
    display: flex;
    justify-content: center;
    margin-right: 330px;
}

.chlen {
    display: none;
}



.about_text {
    font-size: 25px;
}

.about_langtime {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    position: relative;
    min-height: 1px;
    padding-left: 40px;
    padding-right: 20px;
    float: left;
}

.our-reach {
    color: #797979;
    font-size: 22px;
    font-weight: 300;
}

.our-reach td {
    padding: 0 10px 10px 0;
}

.our-reach td:first-child {
    color: #01b5e2;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

.help-block {
    font-size: 13px;
    line-height: 1;
    margin: 0;
    display: block;
}
