@media all and (min-width:1980px) {
    .topmenu > li > a {
        font-size: 22px;
    }

    .header__link__phone {
        font-size: 22px;
    }

    .header__logo {
        font-size: 42px;
    }

    .crow__title {
        font-size: 53px;
    }

    ..b-ff-cross-header__button_blue {
        padding: 15px 30px;
    }

    ..b-ff-cross-header__button {
        font-size: 29px;
    }
}

@media all and (max-width: 1350px) {
    .footer_Active h3 {
        font-size: 13px;
    }
}

@media all and (max-width: 1280px) {
    .Courses {
        flex-wrap: nowrap;
    }

    .courses__language {
        font-size: 17px;
        max-width: 420px;
    }

    .qew {
        margin-right: 20px;
    }

    #back-top {
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
    }

    .icons {
        margin-left: 60px;
        font-size: 35px;
    }

    .License {
        width: 16%;
    }
}

@media all and (max-width: 1120px) {
    .shortcuts img {
        height: 70px;
        width: 70px;
    }

    .shortcuts {
        top: -35px;
        left: -35px;
        height: 70px;
        width: 70px;
    }

    .shortcuts__left img {
        height: 70px;
        width: 70px;
    }

    .shortcuts__left {
        top: -35px;
        right: -35px;
        height: 70px;
        width: 70px;
    }

    .courses__language {
        max-width: 380px;
        font-size: 15px;
        background-position: 123% 44px;
        padding-bottom: 5px;
    }

    .courses__language.english {
        background-size: 120px 110px;
        background-position: 114% 44px;
    }

    p {
        font-size: 18px;
    }

    .parent--el.is-selected h1 {
        font-size: 23px;
    }

    .parent--el.is-selected small {
        font-size: 11px;
    }

    .slide--parent {
        max-width: 850px;
    }

    .header__link__phone {
        font-size: 16px;
        margin: 29px 95px;
    }

    .topmenu > li > a {
        font-size: 16px;
    }

    .License {
        margin-left: 60px;
    }

    .location {
        margin-left: 60px;
    }
}

@media (max-width: 1019px) {
    #back-top {
        width: 35px;
        height: 35px;
        font-size: 26px;
        line-height: 35px;
    }

    .footer_Active h3 {
        font-size: 11px;
    }

    .forms__php {
        padding-top: 0;
    }

    .b-ff-cross-header__button_blue {
        padding: 8px 13px;
    }

    .b-ff-cross-header__button {
        font-size: 17px;
    }

    #map {
        width: 80%;
        margin: 0 auto;
    }

    .qew {
        margin: 50px auto;
        max-width: 80%;
    }

    .timetable {
        height: 100%;
        padding-bottom: 0;
        padding-top: 100px;
    }

    p {
        font-size: 17.93px;
    }

    .parent--el.is-selected h1 {
        font-size: 20px;
    }

    .parent--el.is-selected small {
        font-size: 12px;
    }

    .Develop__Advance__Achieve {
        font-size: 35px;
    }

    .courses__language {
        max-width: 300px;
        font-size: 13px;
        line-height: 22px;
        background-size: 120px 100px;
        background-position: 117% 55px;
    }

    .courses__language.english {
        background-size: 120px 110px;
        background-position: 117% 55px;
    }

    .location {
        margin-left: 40px;
    }

    .License {
        margin-left: 40px;
    }
}

@media all and (max-width: 970px) {
    
    .slide--parent {
        display: none;
    }

    .burger-menu {
        display: block !important;
    }
    
    .ham {
        position: absolute;
        top: -6px;
        left: 0;
    }
    
    header {
        display: block;
        width: 100%;
        text-align: unset;
    }

    .header__menu {
        display: none;
    }

    .header__inner {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header__link__phone {
        display: none;
    }

    .header__logo {
        margin: 10px 0;
        font-size: 55px;
    }

    .forms__php {
        margin-top: 10px;
    }

    .Contact_About {
        display: none;
    }

    .footer_Active h3 {
        font-size: 17px;
    }

    .location {
        margin-left: 0;
        width: 40%;
    }

    .License {
        width: 40%;
    }

    .icons {
        width: 20%;
        margin-left: 0;
        font-size: 40px;
    }
}

@media all and (max-width: 850px) {

    .courses__language {
        max-width: 260px;
        font-size: 13px;
        line-height: 22px;
        background-size: 120px 100px;
        background-position: 131% 44px;
    }

    .courses__language.BHO {
        background-position: 138% 44px;
    }

    .courses__language.english {
        background-size: 100px 90px;
        background-position: 118% 44px;
    }

    .footer_Active h3 {
        font-size: 15px;
    }
}

@media all and (max-width: 760px) {
    .Courses {
        flex-wrap: wrap;
    }

    .shortcuts {
        top: -45px;
        left: -45px;
        height: 80px;
        width: 80px;
    }

    .shortcuts img {
        height: 80px;
        width: 80px;
    }

    .shortcuts__left {
        top: -45px;
        right: -45px;
        height: 80px;
        width: 80px;
    }

    .shortcuts__left img {
        height: 80px;
        width: 80px;
    }

    .courses__language {
        padding: 20px 24px 25px 24px;
        border-radius: 12px;
        line-height: 25px;
        color: white;
        background-repeat: no-repeat;
        height: 280px;
        position: relative;
        max-width: 460px;
        box-shadow: 4px 4px 24px rgba(150, 118, 227, 0.8);
        background-position: 117% 44px;
        background-size: 140px 120px;
        font-size: 18px;
    }

    .courses__language.english {
        background-size: 140px 130px;
        margin-bottom: 60px;
        z-index: 14;

    }

    .courses__language.deutsch {
        margin-bottom: 60px;
    }

    .courses__language.ukraine {
        margin-bottom: 60px;
    }

    .courses__language.BHO {
        background-position: 117% 44px;
    }

    .crow__title {
        font-size: 36px;
    }
}

@media all and (max-width: 700px) {
    .footer_Active h3 {
        font-size: 13px;
    }

    .icons {
        font-size: 35px;
    }

    .Develop__Advance__Achieve {
        font-size: 30px;
    }
}


@media all and (max-width: 650px) {
    .footer_Active h3 {
        font-size: 11px;
    }

    .header__logo {
        font-size: 45px;
    }

    #back-top {
        bottom: 50px;
    }
}

@media all and (max-width: 600px) {

    .icons {
        font-size: 29px;
    }

    .crow__title {
        font-size: 30px;
    }

    .courses__language {
        max-width: 360px;
    }

    .shortcuts {
        top: -35px;
        left: -35px;
        height: 70px;
        width: 70px;
    }

    .shortcuts img {
        height: 70px;
        width: 70px;
    }

    .shortcuts__left {
        top: -35px;
        right: -35px;
        height: 70px;
        width: 70px;
    }

    .shortcuts__left img {
        height: 70px;
        width: 70px;
    }

    .Develop__Advance__Achieve {
        font-size: 25px;
    }

    .content-name {
        font-size: 20px;
    }

    .form {
        width: 350px;
        height: 60px;
    }

    .width-200 {
        width: 280px;
    }

    .b-ff-cross-header__button {
        font-size: 16px;
    }

    .BigBen {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {

    .header__logo {
        font-size: 35px;
    }

    .crow__title {
        font-size: 25px;
    }

    .courses__language {
        max-width: 300px;
        font-size: 13.5px;
    }

    .icons {
        font-size: 30px;
        flex-direction: row;
    }

    .fa-facebook {
        margin: auto 0 auto 30px;
    }

    #adaptation__old {
        display: none;
    }

    #adaptation__new {
        display: flex;
        margin: 0 20px;
    }

    #back-top {
        bottom: 50px;
    }

    .location {
        width: 50%;
    }

    .License {
        width: 50%;
    }

    .footer_Active h3 {
        font-size: 13px
    }

    .qew p {
        font-size: 15px;
    }

    .Develop__Advance__Achieve {
        font-size: 21px;
    }
}

@media (max-width: 450px) {
    .content-name {
        font-size: 18px;
    }

    .form {
        width: 300px;
        height: 55px;
    }

    .width-200 {
        width: 230px;
    }

    .php_sending button {
        font-size: 14px;
    }

    .crow__title {
        font-size: 22px
    }

    .b-ff-cross-header__button {
        font-size: 15px;
    }

    .forms__php {
        width: 100%;
    }

    .footer_Active h3 {
        font-size: 11px;
    }

    .courses__language {
        max-width: 260px;
        font-size: 11.5px;
        background-position: 120% 44px;
        background-size: 125px 105px;
    }

    .courses__language.BHO {
        background-position: 130% 44px;
    }

    .courses__language.english {
        background-position: 130% 44px;
        background-size: 130px 120px;
    }

    .shortcuts {
        top: -25px;
        left: -25px;
        height: 60px;
        width: 60px;
    }

    .shortcuts img {
        height: 60px;
        width: 60px;
    }

    .shortcuts__left {
        top: -25px;
        right: -25px;
        height: 60px;
        width: 60px;
    }

    .shortcuts__left img {
        height: 60px;
        width: 60px;
    }

    .qew p {
        font-size: 14.5px;
    }
}

@media (max-width: 400px) {
    .Develop__Advance__Achieve {
        font-size: 17px;
    }

    .qew {
        max-width: 90%;
    }

    #map {
        width: 90%;
    }
}

@media (max-width: 370px) {
    .courses__language {
        max-width: 90%;
        font-size: 11px;
        background-size: 125px 105px
    }

    .courses__language.BHO {
        background-position: 140% 44px;
    }

    .courses__language.english {
        background-size: 120px 110px;
    }

    .courses__language.deutsch {
        background-position: 120% 65px;
    }

    .courses__language.ukraine {
        background-position: 135% 44px;
    }

    .shortcuts {
        top: -25px;
        left: -25px;
        height: 60px;
        width: 60px;
    }

    .shortcuts img {
        height: 60px;
        width: 60px;
    }

    .shortcuts__left {
        top: -25px;
        right: -25px;
        height: 60px;
        width: 60px;
    }

    .shortcuts__left img {
        height: 60px;
        width: 60px;
    }

    .content-name {
        font-size: 16px;
    }

    .form {
        width: 250px;
    }

    .width-200 {
        width: 180px;
    }

    .php_sending button {
        font-size: 12px;
    }

    .crow__title {
        font-size: 19px;
        line-height: 30px
    }
}

@media (max-width: 340px) {
    .courses__language.BHO {
        background-position: 145% 55px;
        background-size: 120px 100px;
    }

    .courses__language.english {
        background-position: 140% 44px;
        background-size: 120px 110px;
    }

    .courses__language.deutsch {
        background-position: 120% 65px;
    }

    .courses__language.ukraine {
        background-position: 140% 44px;
    }
}

@media (max-width :325px) {
    .courses__language {
        font-size: 10.5px;
    }

    .courses__language.BHO {
        background-position: 145% 75px;
        background-size: 120px 100px;
    }

    .courses__language.ukraine {
        background-position: 144--% 44px;
    }

    .Develop__Advance__Achieve {
        font-size: 16px;
    }
}


/*481px and 767px*/