body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Museo Sans Cyrillic", -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif, "Fira Sans";
    color: #141414;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url(fonts/Gilroy-ExtraBold/10871.otf);
}

.main-lock {
    background: url(image/main-lock_bg.jpg) no-repeat;
    background-position: center;
/*    opacity: .3;*/
}

.main-lock__inner {
    background: rgba(0,0,0,0.6);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------БУРГЕР - НАХУЙ---------------- */
header {
    background: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1002;
    width: 100%;
}

.header__inner {
    display: flex;

}

.header__logo {
    font-family: 'Gilroy-ExtraBold';
    letter-spacing: 1px;
    color: #424242;
    font-size: 35px;
    margin: 16px 0 0 40px;

}

.header__link {
    text-decoration: none;
    outline: none;
    display: block;
}

.header__menu {
    vertical-align: middle;
    margin-top: 13px;
    width: max-content;
}

.header__menu ul {
    list-style: none;
    padding: 0;
    display: table;
}

.topmenu:after {
    content: "";
    display: table;
    clear: both;
}

.topmenu > li {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin-left: 80px;
}

.header__link__phone {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #404040;
    font-weight: bold;
    margin: 29px 100px;
    width: max-content;
    position: relative;
}


.topmenu > li > a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #404040;
}

.topmenu li a:hover {
    color: dodgerblue;
}

.submenu {
    background: white;
    position: absolute;
    left: -18px;
    top: 100%;
    z-index: 5;
    width: 125px;
    border-radius: 3px 3px 0px 3px;

    opacity: 0;
    transform: scaleY(0);

    transform-origin: 0 0;
    transition: opacity .3s linear,
        transform .3s linear;
}

.submenu li:first-child a {
    border-radius: 30px 30px 0 0;
}

.submenu__eng {
    background: white;
    position: absolute;
    left: 100%;
    top: 75%;
    z-index: 5;
    box-shadow: 0 1px 3px dodgerblue;
    width: 100px;
    opacity: .5;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: opacity .3s linear,
        transform .3s linear;
}

.submenu a {
    color: black;
    text-align: left;
    padding: 13px 18px;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.submenu li:last-child a {
    border-bottom: none;

}

.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}

.submenu > li:hover .submenu__eng {
    opacity: 1;
    transform: scaleY(1);
}

.sub_eng::after {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent black;
    bottom: 1em;
    left: 7.9em;
    transition: 0.5s;
}

.sub_eng:hover::after {
    transform: scaleX(-1);
}

/* ----------------КОнеЦ- Бургера - НАХУЙ---------------- */

.crow {
    margin-top: -100px;
}


.crow__title {
    display: block;
    color: white;
    font-size: 42px;
    line-height: 38px;
    text-align: center;
    max-width: 900px;
    margin: 100px auto 50px auto;
    font-family: 'Exo 2';
    font-weight: bolder;
}



.Courses {
    margin-top: 30px;
    z-index: 1001;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses__language {
    padding: 20px 24px 25px 24px;
    border-radius: 12px;
    line-height: 25px;
    color: white;
    background-repeat: no-repeat;
    height: 280px;
    position: relative;
    max-width: 460px;
    box-shadow: 4px 4px 24px rgba(150, 118, 227, 0.8);
    background-position: 117% 44px;
    background-size: 140px 120px;
    font-size: 18px;
}

.courses__language.english {
    background-color: #4287CE;
    background-image: url(image/%D0%BB%D0%B5%D0%B2%D0%BE%D0%B5%20%D0%BE%D0%BA%D0%BD%D0%BE.png);
    background-size: 150px 140px;
    margin-bottom: 60px;
    z-index: 14;

}

.courses__language.deutsch {
    background-color: #BE0429;
    background-image: url(image/female-student_1f469-200d-1f393.png);
    z-index: 14;
}

.courses__language.ukraine {
    background-color: #1B1B1B;
    background-image: url(image/1f469-1f3fc-200d-1f4bb.png);
    margin-bottom: 60px;
    z-index: 15;
}

.courses__language.BHO {
    background-color: #556E9C;
    background-image: url(image/female-teacher_1f469-200d-1f3eb.png);
    z-index: 15;
}

.courses__language__item {
    margin: 0 30px;
}

/*-------------------------shortcuts---------------------*/

.shortcuts {
    position: absolute;
    top: -55px;
    left: -55px;
    height: 90px;
    width: 90px;
}

.shortcuts__left {
    position: absolute;
    top: -55px;
    right: -55px;
    height: 90px;
    width: 90px;
}

/*---------------------end-shortcuts---------------------*/

.About__Us {
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    padding: 15px 0;
}

.DAA {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.Develop__Advance__Achieve {
    font-size: 47px;
    color: #3075F3;
    z-index: 10;
    text-align: center;
}

.qew p {
    font-weight: bold;
    font-size: 21px;
    color: #272727;
    font-family: monospace;
}

/*-----------------TEACHER IMAGE PHOTO START-----------------*/

.snip1401 {
    font-family: 'Exo 2';
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    max-height: 220px;
    width: 100%;
    color: #000000;
    text-align: right;
    font-size: 16px;
    background-color: #000000;
}

.snip1401 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1401 img {
    max-width: 100%;
    backface-visibility: hidden;
}

.snip1401 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    padding: 30px 0 30px 10px;
    background-color: #ffffff;
    width: 40%;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
}

.snip1401 figcaption:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 120px 0;
    border-color: transparent #ffffff transparent transparent;
}

.snip1401:after {
    position: absolute;
    bottom: 50%;
    right: 40%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 0 120px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1401 h3,
.snip1401 p {
    line-height: 1.5em;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    margin: 0;
}

.snip1401 h3 {
    margin: 0 0 5px;
    line-height: 1.1em;
    font-weight: 900;
    font-size: 1.4em;
    opacity: 0.75;
    text-align: right;
}

.snip1401 p {
    font-size: 0.8em;
}

.snip1401 i {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    font-size: 44px;
    color: #ffffff;
    opacity: 0;
}

.snip1401 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1401:hover img,
.snip1401.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/*
.snip1401.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.snip1401.hover:after,
.snip1401.hover figcaption,
.snip1401.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
*/

.teacher__image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

/*-----------------TEACHER IMAGE PHOTO END-------------------*/


/*-----------------TEACHER IMAGE PHOTO START MOBILE-----------------*/

.snip1402 {
    font-family: 'Exo 2';
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    max-height: 220px;
    width: 100%;
    color: #000000;
    text-align: right;
    font-size: 16px;
    background-color: #000000;
}

.snip1402 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1402 img {
    max-width: 100%;
    backface-visibility: hidden;
}

.snip1402 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    padding: 30px 0 30px 10px;
    background-color: #ffffff;
    width: 40%;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
}

.snip1402 figcaption:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 120px 0;
    border-color: transparent #ffffff transparent transparent;
}

.snip1402:after {
    position: absolute;
    bottom: 50%;
    right: 40%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 0 120px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1402 h3,
.snip1402 p {
    line-height: 1.5em;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    margin: 0;
}

.snip1402 h3 {
    margin: 0 0 5px;
    line-height: 1.1em;
    font-weight: 900;
    font-size: 1.4em;
    opacity: 0.75;
    text-align: right;
}

.snip1402 p {
    font-size: 0.8em;
}

.snip1402 i {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    font-size: 44px;
    color: #ffffff;
    opacity: 0;
}

.snip1402 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1402.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.snip1402.hover:after,
.snip1402.hover figcaption,
.snip1402.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/*-----------------TEACHER IMAGE PHOTO END-------------------*/


/*----------------FORMS--------------------------------------*/

.forms__php {
    padding-top: 60px;
    height: 400px;
    width: 450px;
    display: flex;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    margin-top: 50px;
}

.php_sending {
    position: relative;
}

.form {
    width: 400px;
    position: relative;
    height: 65px;
    overflow: hidden;

}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: black
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #3694d7;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}


.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    font-size: 24px;
    transition: all 0.3s ease;
}



.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus + .label-name::after,
.forn input:valid + .label-name::after {
    transform: translateX(0%);
}


.b-ff-cross-header__button {
    background: transparent;
    border: 1px solid #242d34;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #242d34;
    outline: 0;
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    min-width: 74px;
}

.b-ff-cross-header__button {
    font-family: 'Exo 2';
    color: #fff;
    border: 1px solid #fff
}

.b-ff-cross-header__button:hover {
    opacity: .7
}

.b-ff-cross-header__button_blue {
    border-color: #3075f3;
    border-top-color: rgb(48, 117, 243);
    border-right-color: rgb(48, 117, 243);
    border-bottom-color: rgb(48, 117, 243);
    border-left-color: rgb(48, 117, 243);
    background: #3075f3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.08);
    color: #fff;
    padding-right: 23px;
    padding-left: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mnb {
    position: absolute !important;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.width-200 {
    width: 330px;
    border: 1px solid #242d34;
    border-radius: 6px;
}

.dropdown-el {
    max-width: 80% !important;
  font-family: "Myriad Pro","Arial",sans;
  font-size: 24px;
  min-width: 12em;
    margin: 20px auto;
    z-index: 2;
    position: relative;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: .06em solid #3694d7;
  border-radius: 1em;
  transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
  background: #def;
}
.dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.dropdown-el label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: .06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  transition: .4s all ease-in-out;
}
.dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}
.dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
  color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
  color: #3694d7;
}
.dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
}


/*----------------END-FORMS--------------------------------------*/

/*------------------ANCHOR--------------------------------------*/

.b2b {
    display: flex;
    justify-content: flex-end;
}

#back-top {
    position: fixed;
    background: #fff;
    margin-left: -20px;
    z-index: 10000;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50px;
    bottom: 50px;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    color: #777;
}

#back-top:hover {
    background: black;
    color: white;
    cursor: pointer
}

/*-----------------END-ANCHOR--------------------------------------*/
/*-----------------------MAP-and-Timetable-------------------------------------*/

#map {
    width: 35%;
    height: 300px;
    margin-left: 10%;
    z-index: 1;
}

.map {
    height: 300px;
    z-index: 1;
}

.timetable ada {
    color: red;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
}


.timetable {
    width: 100%;
    height: 300px;
    font-family: monospace;
    padding-bottom: 60px;
    padding-top: 60px;
    z-index: 4;
}

.timetable_langtime {
    position: relative;
    width: 100%;
    bottom: 100%;
    display: flex;
    justify-content: flex-end;
}

.qew {
    margin-right: 100px;
}


/*-----------------END-Map-and-Timetable------------------------------------*/
/*-----------------FOOTER--------------------------------------*/

footer {
    padding: 10px 0 10px;
    position: relative;
}

.BigBen {
    display: flex;
    justify-content: center;
    margin-top: 100px
}

.social {
    display: flex;
    justify-content: flex-end;
}

.footer_Active {
    background-size: cover;
    width: 100%;
    background-image: url(image/foot_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;

}

.footer-main-container {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.social-langtime {
    display: flex;
    display: -webkit-flex;
    margin-top: 10px;
    justify-content: center;
}

.Contact_About {
    width: 15%;
}

.footer_Active h3 {
    font-size: 17px;
    margin-top: 0px;
    padding-bottom: 10px;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    color: white;
    margin-bottom: 15px;
    padding-left: 5px;
}


.location {
    margin-left: 100px;
    width: 25%;
}

.License {
    margin-left: 100px;
    width: 15%;
}

.icons {
    margin-left: 100px;
    font-size: 40px;
    margin-top: 30px;
    color: white;
}

#adaptation__new {
    display: none;
}

.fa-facebook {
    margin-left: 20px;
}

/*-------------------END-FOOTER--------------------------------------*/